<br>
<div class="container">
  <div>
      <h1 *ngIf="!authService.isLoggedIn" class="alert" >You have to login first</h1>

    <agm-map class="agm-map" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
      <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m, i)" 
      [latitude]="m.latitude" [longitude]="m.longitude" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)"
      >
    <agm-info-window>
      <br>
      <li>
          <strong>{{m.name}}</strong>
      </li>
      <li>
        <strong>Description: {{m.comment}}</strong>
      </li>
      <li>
         <strong>Number Of Participants: {{m.numOfParticipants}}</strong>
      </li>
      <li>
        <strong>Publisher: {{m.publisher}}</strong>
     </li>
     <br>
     <button class="delete" (click)="removeMarker(m)">Delete</button>
    </agm-info-window>
    </agm-marker>
    </agm-map>
  </div>
</div>