  .agm-map {
    height: 500px;
    /* width: 700px; */
  }
  .alert{
    color: red;
  }
  .jumbotron {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    border: 1px solid blue;
  }