<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <div>
  <div class="navbar-header">
    <h1>{{ title }}</h1>
  </div>
  <div>
    <button class="btn btn-primary" routerLink="event">new event</button>
    <button class="btn btn-primary margin-left" routerLink="map">map</button>
  </div>
</div>
  <div class="nav navbar-nav navbar-right">
    <button class="btn btn-primary btn-lg" *ngIf="!authService.isLoggedIn" (click)="login()">Log In</button>
    <button class="btn btn-primary btn-lg" (click)="authService.logout()" *ngIf="authService.isLoggedIn">Log Out</button>
  </div>
</nav>
<router-outlet></router-outlet>